.sidebar-links .sidebar-category-list-content {

  .sidebar-all-category-list {

    //display flex
    //flex-wrap wrap

    li.sidebar-all-category-list-item {
      font-size .8rem
      margin-bottom 15px
      box-shadow var(--redefine-box-shadow-flat)
      padding 10px
      border-radius $redefine-border-radius-medium
      margin 10px
      transition all 0.2s ease
      cursor pointer

      .sidebar-all-category-list-link {

        &::before {
          padding-right 5px
          font-family "Font Awesome 6 Pro"
          content "\f07c";
        }
      }

      &:hover,
      &:focus {
        box-shadow var(--redefine-box-shadow-flat-hover) !important
        background-color var(--primary-color)
        transition all 0.2s ease

        a {
          color var(--background-color)
        }
      }

      &:active {
        transform scale(0.95)
      }

      span.sidebar-all-category-list-count {
        display inline-flex
        color var(--third-text-color);
        margin-left 3px
        background-color var(--third-background-color)
        border-radius 50%
        font-size .4rem
        height 14px
        width 14px
        text-align center
        justify-content center
        align-items center
      }

      ul.sidebar-all-category-list-child {

        margin-left 10px
        margin-top 15px

        li {

          margin-bottom 10px

          &:last-child {
            margin-bottom 0
          }

        }
      }
    }
  }
}
