.sidebar-items .sidebar-category-list-content {

  .sidebar-all-category-list {

    li.sidebar-all-category-list-item {
      font-size .8rem
      margin-bottom 15px
      box-shadow var(--redefine-box-shadow-flat)
      padding 4px 15px
      border-radius $redefine-border-radius-medium
      margin-top 10px
      transition all 0.2s ease
      cursor pointer
      animation ani01 1.5s

      .sidebar-all-category-list-link {

        &::before {
          padding-right 5px
          font-family "Font Awesome 6 Pro"
          content "\e0c0";
        }
      }

      &:hover,
      &:focus {
        transform scaleX(1.02) scaleY(1.02)
        //box-shadow 0 8px 10px rgba(0, 0, 0, 0.2)
        box-shadow var(--redefine-box-shadow-flat-hover) !important
        transition all .2s cubic-bezier(0.4, 0, 1, 1)
      }

      &:active {
        transform scale(0.80)
      }

      span.sidebar-all-category-list-count {
        display inline-flex
        display -webkit-inline-flex
        color var(--third-text-color)
        margin-left 3px
        background-color var(--third-background-color)
        border-radius 50%
        font-size .8rem
        height 14px
        width 14px
        text-align center
        justify-content center
        align-items center
      }

      ul.sidebar-all-category-list-child {
        li {
          margin-bottom 10px
        }
      }

      //ul:last-child > li > ul:last-child {
      //  text-align center
      //}
    }
  }

  ul.sidebar-all-category-list > li > a {
    font-size 1.2em !important
  }
}

@keyframes ani01 {
  0% {
    opacity: 0;
    transform: translate(20px, 0)
  }
  100% {
    opacity: 1;
    transform: translate(0, 0)
  }
}
