<div class="sidebar-category-list-container">
    <div class="tagcloud-header">
        <div style="font-size: 1rem; font-weight: bold;">
            <i class="fa-solid fa-book-open-cover"></i>
            <%- __('categories') %>
        </div>
    </div>
    <div class="sidebar-category-list-content">
        <%- heer_list_categories(site.categories, {
            class: 'sidebar-all-category',
            depth: 3,
            orderby: "name",
            order: 1
        }) %>
    </div>
    <%- renderJS('js/tools/categoryOper.js') %>
</div>
